In [2]:
import pandas as pd
root="C:/sandbox/python/"
fbdata = pd.read_table(root+"pseudo_facebook.tsv")
fbdata.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [10]:
#friends count
user_count = fbdata.filter(['userid','friend_count'],axis=1)
user_count.sort_values(['friend_count'],axis=0,ascending=False)

        userid  friend_count
98159  2090699          4923
98026  1660276          4917
98184  1926655          4863
98797  1685573          4845
98087  1386477          4844
98656  1604095          4826
98773  2042824          4817
98439  1529639          4803
98046  1587911          4797
98567  1205425          4794
98353  1439214          4792
98068  1089933          4770
98764  1078115          4770
98626  1192042          4767
98332  1127838          4767
98075  2154556          4765
98127  1751766          4759
98029  1792910          4759
98479  1207962          4759
98259  1500480          4755
98831  1063988          4754
98050  1098559          4737
98523  1677625          4735
98929  1429178          4733
98436  1422110          4732
98140  1921091          4731
98891  1972989          4731
98540  1362239          4724
98409  1426597          4720
98085  1029773          4717
...        ...           ...
1319   1688714             0
1318   1907419             0
1303   1065853             0
1291   1297138             0
1292   1624077             0
1293   1565507             0
1294   1681972             0
1295   1716432             0
1296   2091632             0
1297   1556487             0
1298   1206571             0
1299   2179445             0
1300   1458767             0
1301   1657283             0
1302   1500919             0
1304   1350753             0
1317   1106005             0
1305   1384636             0
1306   1660315             0
1307   1969224             0
1308   1268648             0
1309   1711299             0
1310   1155074             0
1311   1177632             0
1312   1540531             0
1313   1692118             0
1314   1236968             0
1315   1944805             0
1316   2190573             0
0      2094382             0

[99003 rows x 2 columns]